{% extends "base.html" %}

{% block content %}
<div class="col-8 p-3 d-flex flex-column align-items-center">
    <img class="img-fluid" src="{{ url_for('static', filename='images/finalchesslogo.png') }}" alt="UPenn Chess Club"
        width="600px" height="auto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9 p-5 larger-text" style="background-color: white;">
                <h2>2019-2020 Team</h2>
                <img class="img-fluid" src="{{ url_for('static', filename='images/team_photo.jpg') }}" alt="Team Photo">
                <p>
                    Left to Right: Grant Wang, Warren Wang, Constance Wang, Daniel Draganoff, Simone Liao, Karthik Ramachandran & Akshay Malhotra
                </p>
                <p>
                    Not pictured: Daniel Cremisi & William Li
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}